@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration config;
@inject SiteConfig siteConfig;

<h1>Hello, world!</h1>

Welcome to @config["Title"].


@if (ShowForServerLink)
{
    <p>
        There is also a demo using
        blazor spa (server side)
        <a href="@siteConfig.ForServerSite">here</a>.
    </p>
}

<ConfigEnvironment />

<SurveyPrompt Title="How is Blazor working for you?" />
@code
{
    public bool ShowForServerLink;

    protected override void OnInitialized()
    {
        ShowForServerLink =
            Uri.IsWellFormedUriString(siteConfig.ForServerSite, UriKind.RelativeOrAbsolute);
    }
}
