<section class="desk-tile">
    <header class="title">
        <a href="@Item.OpenUrl">
            @if (Item.IconUrl != null)
            {<img class="icon" src="@Item.IconUrl" />}
            
            @Item.Title
        </a>
    </header>
    <p class="description">@Item.Description</p>
</section>

@code {
    [Parameter]
    public DeskBasicTile Item { get; set;}
}
