<section class="desk-tile">
    <header class="title">
        <a href="@OpenUrl">

            @if (IconArea != null){@IconArea}
            else if(IconUrl != null) {
            <img class="icon" src="@IconUrl"/>}
            
            @if(TitleArea != null){@TitleArea}
            else {@Title}
        </a>
    </header>
    <p class="description">
        @if(DescriptionArea != null){@DescriptionArea}
        else {@Description}
    </p>
</section>

@code {
    /*
     * A desk tile 
     */
    [CascadingParameter]
    private Desk Owner { get; set; }
    
    protected override void OnInitialized()
    {
        if(Owner is null)
            throw new Exception("Can only create desk tile inside a desk");
    
        Owner.AddTile(this);
    }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment TitleArea { get; set; }

    /// <summary>
    /// If provided, uses the url in an img element.
    /// </summary>
    [Parameter]
    public string IconUrl { get; set; }

    [Parameter]
    public RenderFragment IconArea { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public RenderFragment DescriptionArea { get; set; }

    [Parameter]
    public string OpenUrl { get; set; }
}
