@using DemoAssets = kwd.BoxOBlazor.Demo.Assets
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ForBrowser</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demo/interop">
                <span class="oi oi-audio-spectrum" aria-hidden="true"></span>
                JS Interop
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demo/colortool">
                <span class="oi oi-fire" aria-hidden="true"></span>
                Color tool
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demo/AlarmClock">
                <div class="oi linkIcon">
                    <img class="icon" src="@DemoAssets.Img.AlarmClock" aria-hidden="true" />
                </div>
                Alarm Clock
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demo/LogView">
                <div class="oi linkIcon">
                    <img class="icon" src="@DemoAssets.Img.Log" aria-hidden="true" />
                </div>
                Log View
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="demo/LocalStore">
                <span class="oi oi-browser" aria-hidden="true"></span>
                Local store
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {

    public const string imgLog = "_content/kwd.BoxOBlazor.Demo/img/log.svg";
    
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
