
/src/**/.vs/
/src/**/obj/
/src/**/bin/

/src/**/appsettings.*.json
/src/**/*.user

/src/**/.config/

/src/kwd.BoxOBlazor.Demo/wwwroot/*
/src/kwd.BoxOBlazor.Demo/Web/scripts/util/*.js
/src/kwd.BoxOBlazor.Demo/Web/scripts/util/*.js.map

/src/ForServer/wwwroot/*
/src/ForServer/App_Data/*
/src/ForServer/Properties/PublishProfiles/

/src/ForBrowser/wwwroot/*
/src/ForServer/Properties/PublishProfiles/
!/src/ForServer/Properties/PublishProfiles/Local.pubxml

/src/ForDesk/wwwroot/_content/*
