
/src/**/.vs/
/src/**/obj/
/src/**/bin/

/src/**/appsettings.*.json
/src/**/*.user

/src/kwd.BoxOBlazor.Demo/wwwroot/*

/src/kwd.BoxOBlazor.Server/wwwroot/*
/src/kwd.BoxOBlazor.Server/App_Data/*

/src/kwd.BoxOBlazor.Browser/wwwroot/*
/src/kwd.BoxOBlazor.Browser/web.config

/src/**/.vscode/

#Only keep the local publish profile.
/src/**/PublishProfiles/*
!/src/**/PublishProfiles/Local.pubxml
