@using kwd.BoxOBlazor.Web.scripts.util
@using kwd.BoxOBlazor.Web.util
@inject LocalStorage localStorage

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code {

    protected override async Task OnInitializedAsync()
    {
        if (!localStorage.IsStorageEventAttached)
            await localStorage.HookStorageEvent();

        await base.OnInitializedAsync();
    }

}