<p>
    Welcome.
</p>
<p>
    This project is my playground for various
    experiments; focused mostly on blazor.
</p>
<p>
    Source is up on
    <a href="https://github.com/Dkowald/kwd.BoxOBlazor">GitHub - BoxOBlazor</a>
</p>
<p>
    The site is also deployed to a little linux box on azure,
    <a href="https://boxoblazor.kwd.space/">here</a>.
</p>
@code {

}
