<p>
    Welcome.
</p>
<p>
    This project is my playground for various
    experiments; focused mostly on blazor.
</p>
<p>
    Source is up on
    <a href="https://github.com/Dkowald/kwd.BoxOBlazor">GitHub - BoxOBlazor</a>
</p>
<p>
    This is the blazor server render version of the site.
</p>

@code {

}
