<p>
    Main docs for 
    <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-3.1">
        Blazor</a>
</p>

<p>
    Catalog of various Blazor projects: 
    <a href="https://github.com/AdrienTorris/awesome-blazor">Awsome Blazor</a>.
    Greate for pointers.
</p>
@code {

}
