@inherits LayoutComponentBase

<menu>
	<ul>
		<li>
			<NavLink href="" Match="NavLinkMatch.All">
				Home
			</NavLink>
		</li>
		<li>
			<NavLink href="/counter">
				Counter
			</NavLink>
		</li>
	</ul>
</menu>

<main>
	@Body
</main>
