<p>
    Blazor can be rendered to static html. <br />
    When static, interactive events are lost,
    and you don't need the blazor signal-r connection
    (this page doesn't include <em>blazor.server.js</em>).
</p>
<p>
    At first this may seam to have little value,
    but it is essentially reducing blazor to act like normal razor i.e a html generator.
</p>
<p>
    This makes it an easy stepping stone from razor to blazor.
</p>
<p>
    Blazor provides component composition and layout (and nested layout) to generate html.
</p>
@code {

}
