<p>
    But keep in mind the following restrictions:
    <ul>
        <li>
            Blazor renders the html body, not the surronding html document.
        </li>
        <li>
            Blazor layouts don't support render section(s).
            Migrating from razor to blazor will need separate components for separate render sections.
        </li>
        <li>
            Static html is... static; no interactive parts
        </li>
    </ul>
</p>

<p>
    For a richer browser user experience; you may want to
    migrate by including an
    <a href="/Migration/SingleComponent">interactive blazor component</a>.
</p>

@code {

}
