<p>
    This page was mostly generated from a set of blazor static rendered sections.
</p>
<ol>
    <li>
        Heading - top section with heading and summary text
    </li>
    <li>
        Approach - next section with description.
    </li>
    <li>
        Limitations - next section with limitations.
    </li>
    <li>
        in place html section to host sample 'broken' interactive blazor parts.
    </li>
    <li>
        Footing - this section itself.
    </li>
</ol>

@code {

}
