@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Http

<CascadingValue Value="@RootUrl">
<Router AppAssembly="typeof(ShellApp).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(ShellLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(ShellLayout)">
            <TilePanel>
                <Tile Title="ERROR"
                      Description="">
                    <DescriptionArea>
                        <span>Woops ... thats not even a thing</span>
                        <span>Go back to</span>
                        <a href="@RootUrl" style="display: block">main desk</a>
                    </DescriptionArea>
                </Tile>
            </TilePanel>
        </LayoutView>
    </NotFound>
</Router>
</CascadingValue>
@code{
    private PathString RootUrl = "/";

}