@page "/colorTool"
@inject ILogger<ColorTool> Log;
@using kwd.BoxOBlazor.Unit
@using kwd.BoxOBlazor.Util
@using Microsoft.Extensions.Logging

@*
 # todo
    Use colored slider bar(s) for values.
    Save current color to browser storage.
    Move to component; and share on other platforms.
    Use timer to trigger data update without need to blur.
*@
<p>A simple tool to help with color selection</p>

<ColorPicker />