@page "/spa/ColorTool"
@using Microsoft.Extensions.Logging;
@inject ILogger<ColorTool> Log;
<h3>ColorTool</h3>
<p>Simple tool to select a color.</p>

<ColorPicker />

@code {
        public const string Path = "/spa/ColorTool";
}