@page "/spa"
@using Microsoft.Extensions.Options
@using ForServer.Model
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Hosting
@inject IOptions<SiteConfig> siteConfig
@inject IConfiguration configRoot;
@inject IHostEnvironment env;

<h1>Hello, world!</h1>
<p>
    Welcome to BoxOBlazor For Server.
</p>

<p>
    This is a Single Page Application demo
    for server-side render blazor.
</p>
@if (ShowForBrowserLink)
{
    <p>
        There is also a demo using
        blazor wasm (client side)
        <a href="@ForBrowserUri">here</a>.
    </p>
}
<p>
    Running in @env.EnvironmentName
</p>
<section>
    <h2>Useful links</h2>
    <Links />
</section>

<SurveyPrompt Title="How is Blazor working for you?" />
@code {
    public string ForBrowserUri;

    public bool ShowForBrowserLink;

    protected override void OnInitialized()
    {
        ForBrowserUri = siteConfig.Value.ForBrowserSite;

        ShowForBrowserLink =
            Uri.IsWellFormedUriString(ForBrowserUri, UriKind.RelativeOrAbsolute);
    }
}