@page "/spa/Interop"
@inject ILogger<Interop> log

<h1>Demo interop with Javascript</h1>

<p>
    What is your name
    <NamePrompt />
</p>
@code {
    public const string Path = "spa/interop";

    protected override Task OnInitializedAsync()
    {
        log.LogDebug("Start Interop demo");

        return base.OnInitializedAsync();
    }
}
