@page
@using ForServer.Pages.Migration
@using ForServer.Pages.Migration.Static
<component type="typeof(Heading)" render-mode="Static"
           param-Tagline="@("Multiple components, wrapped to single")" />

<p>
    This is a fix for <a href="~/Migration/MultipleComponents">multiple blazor components.</a>
</p>
<p>
    <b>This page is Fixed</b>
</p>
<p>
    Having multiple components breaks the blazor browser code.
    Easy fix is to just extract all the elements containing blazor components,
    and use that as a new migration component.
</p>
<p>
    For a site where the components are further separated;
    possibly across different partial views;
    it could be difficult to create a wrapper.
    It may make more sense to
    <a href="~/Migration/FixWithRender">fix with render</a>
</p>
<section class="migration-section">
    <h3>blazor component</h3>
    <component type="typeof(Migration)" render-mode="ServerPrerendered" />
</section>

<p>
    The above section contains multiple blazor components;
    wrapped into a single razor (mvc) hosted component.
</p>