@page
@using ForServer.Pages.Migration.Static
@{
    //Layout = "Shared/_LayoutNoBlazor";
}
@using ForServer.Pages.Migration
<component type="typeof(Heading)" render-mode="Static" 
           param-Tagline="@("Quick win with static render.")" />
<component type="typeof(Approach)" render-mode="Static" />
<component type="typeof(Limitations)" render-mode="Static" />

<section class="migration-section">
    <h3>blazor component</h3>
    <p>
        The sample section shows static rendering interactive components; which removes (as expected)
        the interactive ability.
    </p>
    <component type="typeof(Migration)" render-mode="Static" />
</section>

<component type="typeof(Footing)" render-mode="Static" /> 