@page
@{
    var desk = ViewBag.RootUrl;
}

<h1> App 1</h1>
<p> Sample child app page.</p>
<p>
    Main feature is nav back to desktop / home.
    <a href="@desk">Desk</a>
</p>
<p>Alternate can nav back to other via own </p>