@page "/tiles/logView"
@using kwd.BoxOBlazor.Demo.Parts.MemLog;

@inject ILoggerFactory Logger

<h1>Demo logging </h1>
<MemoryLogViewer/>

@{
    //cshtml: class not part of assembly; manually get category.
    var log = Logger.CreateLogger("ForServer.Pages.Demo.LogView");

    log.LogInformation("Showing Logging demo");
}