<Router AppAssembly="typeof(Shell).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(ShellLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(ShellLayout)">
            <p>Woops.. thats not even a thing.</p>
        </LayoutView>
    </NotFound>
</Router>
@*<LayoutView Layout="typeof(ShellLayout)">
    <Desk BasicItems="@Items">
        <ChildContent>
            <DeskTile Title="JS Interop"
                      Description="Demo basic javascript interop, with a prompt"
                      OpenUrl="Tiles/Interop">
                <IconArea>
                    <span class="icon oi oi-audio-spectrum" aria-hidden="true"></span>
                </IconArea>
            </DeskTile>

            <DeskTile Title="Color tool"
                      Description="Demo richer blazor updates as a simple color tool"
                      OpenUrl="Tiles/ColorTool">
                <IconArea>
                    <span class="icon oi oi-fire" aria-hidden="true"></span>
                </IconArea>
            </DeskTile>

            <DeskTile Title="Misbehave" OpenUrl="/tiles/misbehave">
                <DescriptionArea>
                    Behaviour with various errors
                </DescriptionArea>
                <IconArea>
                    <span class="icon oi oi-warning" aria-hidden="true"></span>
                </IconArea>
            </DeskTile>

            <DeskTile Title="Alarm clock"
                      Description="Demo richer blazor updates as a simple color tool"
                      OpenUrl="Tiles/AlarmClock"
                      IconUrl="/img/alarmClock.svg">
            </DeskTile>

            <DeskTile OpenUrl="/tiles/LocalStorage" Title="Local storage">
                <DescriptionArea>
                    Demo using browser local storage for cross tab data
                </DescriptionArea>
                <IconArea>
                    <span class="icon oi oi-browser" aria-hidden="true"></span>
                </IconArea>
            </DeskTile>

        </ChildContent>
    </Desk>
</LayoutView>*@
@code {

    private DeskBasicTile[] Items = new DeskBasicTile[]
    {
        new DeskBasicTile
        {
            Title = "Log viewer", 
            Description = "View latest logging events",
            OpenUrl = "Tiles/LogView",
            IconUrl = "_content/kwd.BoxOBlazor.Demo/img/log.svg"
        }
    };

    private static string LongestText {

        get {
            var longest =
            "Created signs. "+
            "Fruit second land isn't, moveth land fish greater i he life so you're. "+
            "Great subdue was land the firmament yielding likeness were ";

            longest = longest + longest.Length + "midst creature it gathering. I in fly third shall is.";
            return longest;
        }
    }

}
