@page "/demo/AlarmClock"
@using kwd.BoxOBlazor.Demo.Parts;

<h1>Demo server-generated events in UI.</h1>
<p>
    A simple clock to show server generated events presented in a Blazor
    component.
</p>

<UpTime />

@code {
    public const string Path = "demo/AlarmClock";
}
