@page

<p>
    These demo pages are razor pages, with hosted blazor 
    components. 
</p>
<p>
    This component based approach provides a 
    migration path from current 
    <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1">asp.net</a>
    project 
    to more interactive project with blazor.
</p>