@page
@using ForServer.Tiles
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BoxOBlazor - ForServer</title>
    <base href="~/" />

    <script src="_framework/blazor.server.js" defer></script>

    @*My fonts*@
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    @*Grab iconic from common lib*@
    <link href="_content/kwd.BoxOBlazor.Demo/css/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    
    @*My fa icons*@
    <script src="https://kit.fontawesome.com/fabf6a7a00.js" crossorigin="anonymous"></script>
    
    @*styling for tile layout*@
    <link href="css/tiles.css" type="text/css" rel="stylesheet"/>
    
    @*Site styles*@
    <link href="css/forServer.css" type="text/css" rel="stylesheet" />
    
</head>
<body class="shell-wrap">
    <component type="typeof(ShellApp)" render-mode="ServerPrerendered" />
    <partial name="Shared/_CircuitError" />
    <partial name="Shared/_ConnectionStatus" />
</body>
</html>