@page
@using Microsoft.Extensions.Logging
@inject ILoggerFactory Logger
@section Head
{
	@*The interop js script*@
	<script src="~/_content/kwd.BoxOBlazor/util.js" defer></script>
}

@{
    var log = Logger.CreateLogger("ForServer.Pages.Demo.Interop");

	log.LogInformation("Showing Interop demo");
}

<h1>Demo interop with Javascript</h1>

<p>
	What is your name
	<component type="typeof(NamePrompt)" render-mode="ServerPrerendered" />
</p>